@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

@keyframes scale-fade {
  0% {
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }

  50% {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }

  70% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes scale-fade {
  0% {
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }

  50% {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }

  70% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.u-sans {
  font-family: 'Open Sans', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

.u-font-large {
  font-size: 32px;
}

.u-border-sizing {
  box-sizing: border-box;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-clearfix {
  clear: both;
}

.u-position-fixed {
  position: fixed;
}

.u-no-margin {
  margin: 0px;
}

.u-bg-white {
  background-color: #ffffff;
}

.u-sticky {
  height: 100%
}

.u-block {
  display: block;
}

.u-italic {
  font-style: oblique;
}

.u-inline-block {
  display: inline-block;
}

.u-align-center {
  text-align: center;
}

.u-valign-top {
  vertical-align: top;
}

.u-single-column {
  margin: 0 auto;
}

.u-mb-med {
  margin-bottom: 40px;
}

.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.input-message {
  width: 60%;
  height: 60%;
  font-size: 14px;
  border-radius: 4px;
  padding: 4px 8px;
  line-height: 20px;
}

.input-message:focus {
  outline: none;
}

*.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.panel-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#title {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.u-fade {
  opacity: 0 !important;
}

.blend-exclusion {
  mix-blend-mode: exclusion;
}
